<a href='createTicket/{{user.id}}/'>create a ticket!</a>

<div style='display:flex;
flex-direction: row;
justify-content: space-around;'>
<div style='
border: 1px black solid;
width: 20%;
text-align: center;'>
<h2>New issues</h2>
{%for ticket in data%}
{%if ticket.status == 'new'%}
<div style='border: 1px black solid;'>
<h3><a href = 'ticket/{{ticket.id}}'>{{ticket.title}}</a></h3>
<p>{{ticket.description}}</p>
<p>{{ticket.time}}</p>
<p>submitted by: <a href = '/user/{{ticket.submitted_by.id}}'>{{ticket.submitted_by}}</a></p>
</div>
{%endif%}
{%endfor%}
</div>
<div style="
border: 1px black solid;
width: 20%;
text-align: center;">
<h2>In progress</h2>
{%for ticket in data%}
{%if ticket.status == 'in_progress'%}
<div style='border: 1px black solid;'>
<h3><a href = 'ticket/{{ticket.id}}'>{{ticket.title}}</a></h3>
<p>{{ticket.description}}</p>
<p>{{ticket.time}}</p>
<p>submitted by: <a href = '/user/{{ticket.submitted_by.id}}'>{{ticket.submitted_by}}</a></p>
</div>
{%endif%}
{%endfor%}
</div>
<div style="
border: 1px black solid;
width: 20%;
text-align: center;">
<h2>Finished Issues</h2>
{%for ticket in data%}
{%if ticket.status == 'done'%}
<div style='border: 1px black solid;'>
<h3><a href = 'ticket/{{ticket.id}}'>{{ticket.title}}</a></h3>
<p>{{ticket.description}}</p>
<p>{{ticket.time}}</p>
<p>submitted by: <a href = '/user/{{ticket.submitted_by.id}}'>{{ticket.submitted_by}}</a></p>
</div>
{%endif%}
{%endfor%}
</div>
<div style="border: 1px black solid;
width: 20%;
text-align: center;">
<h2>Invalid tickets</h2>
{%for ticket in data%}
{%if ticket.status == 'invalid'%}
<div style='border: 1px black solid;'>
<h3><a href = 'ticket/{{ticket.id}}'>{{ticket.title}}</a></h3>
<p>{{ticket.description}}</p>
<p>{{ticket.time}}</p>
<p>submitted by: <a href = '/user/{{ticket.submitted_by.id}}'>{{ticket.submitted_by}}</a></p>
</div>
{%endif%}
{%endfor%}
</div>
</div>
